# Perfil activo: dev o prod
SPRING_PROFILES_ACTIVE=dev

# Local
DB_LOCAL_URL=jdbc:postgresql://localhost:5432/facturacion_sunat
DB_LOCAL_USER=postgres
DB_LOCAL_PASSWORD=admin

# Neon / Producción
DB_PROD_URL=jdbc:postgresql://ep-fragrant-butterfly-a43862em-pooler.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
DB_PROD_USER=neondb_owner
DB_PROD_PASSWORD=pon_aqui_tu_password
